@use "resets";
$spacer: 1em;

body {
  font-family: "Inter", Nunito, Verdana, Geneva, Tahoma, sans-serif;
  background-color: #1C1C1C;
  min-height: 100vh;
  display: grid;
  grid-template: 35vh 1fr / 1fr;
}
header {
  padding: $spacer * 2.5 $spacer * 1.25;
  background-image: url(../../images/hero.svg);
  background-size: cover;
  display: grid;
  place-items: center;

  .container {
    width: min(100%, 800px);
    display: flex;
    flex-wrap: wrap;
    gap: $spacer * 0.5;
    align-items: center;
    justify-content: space-between;
  }
}
h1 {
  color: #FFF;
  font-weight: 800;
}
.watchlist-link a {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 700;
  color: #FFF;
}
section {
  position: relative;
}
.movies-container {
  padding: $spacer * 0.5 $spacer * 1.25;
  display: grid;
  @media (min-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  @media (min-width: 960px) {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}
.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacer * 0.5;
  background-color: #2E2E2F;
  width: min(100%, 800px);
  position: relative;

  img {
    position: absolute;
    left: $spacer * 0.6;
  }
  input, button {
    appearance: none;
    border: none;
    outline: none;
    font-weight: 500;
  }
  input {
    background-color: transparent;
    color: #9CA3AF;
    padding-left: $spacer * 2.4;
    width: 70%;
    &::placeholder {
      color: #9CA3AF;
      font-size: min(80%, 0.95rem);
    }
  }
  button {
    background-color: #4B4B4B;
    color: #FFF;
    padding: $spacer * 0.6 $spacer $spacer * 0.65;
    width: min(30%, 200px);
  }

  @media (min-width: 460px) {
    border-radius: 5px;
    transform: translateY(-50%);
    overflow: hidden;
    margin-inline: auto;

    img {
      left: $spacer * 1.2;
    }
    input {
      text-align: center;
      padding-block: $spacer * 0.3;
    }
  }
}
.placeholder {
  display: none;
  position: absolute;
  inset: 50% 50% auto auto;
  transform: translate(50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  padding-inline: $spacer;

  img {
    margin-inline: auto;
  }
  p {
    margin-top: $spacer * 0.3;
    color: lighten(#2E2E2F, 20%);
    font-weight: 700;
  }
  @media (min-width: 360px) {
    font-size: 1rem;
  }

}
.movies-container:empty + .placeholder {
  display: block;
}
a {
  cursor: pointer;
}
.add-movies {
  color: #FFF !important;
  font-weight: 400 !important;
  margin-top: $spacer * 0,3;

  a {
    text-decoration: none;
    color: #FFF;
    
  }
  img {
    display: inline-block;
    margin-right: $spacer * 0.3;
  }
}
.movie {
  padding-block: $spacer * 2;
  border-bottom: 1px solid rgba(#9CA3AF, 0.5);
  padding-inline: $spacer * 0.5;
  &:last-child {
    border-bottom: none;
  }
  & > img {
    width: 100%;
  }
  h2 {
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: $spacer * 0.3;
    margin-block: $spacer * 0.3 $spacer * 0.7;
    .title {
      font-weight: 700;
      margin-right: $spacer * 0.5;
    }
    img {
      width: min(7%, 23px);
    }
    .rating {
      font-size: 1rem;
    }
  }
  .subheader {
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    line-height: 2;

    .genre, .time {
      margin-right: $spacer * 0.9;
    }
    .add-to-watchlist {
      display: flex;
      align-items: center;
      gap: $spacer;
      user-select: none;
      &:active {
        opacity: 0.7;
      }
    }
  }
  .about-movie {
    color: lighten(#2E2E2F, 20%);
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: $spacer * 0.8;
  }

  @media (min-width: 500px) {
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, auto);
    grid-template-areas: "header header" "img sub-header" "img desc";
    align-items: center;
    column-gap: $spacer;

    .header {
      grid-area: header;
    }
    .subheader {
      grid-area: sub-header;
      align-self: end;
    }
    .about-movie {
      grid-area: desc;
      align-self: start;
    }
    & > img {
      grid-area: img;
      max-width: unset;
      height: 100%;
      object-fit: contain;
    }
  }
  @media (min-width: 960px) {
    grid-template-areas: "img header" "img sub-header" "img desc";

    h2 {
      margin-bottom: 0;
      align-self: end;
    }
  }
  @media (min-width: 570px) and (max-width: 800px) {
    grid-template-areas: "img header" "img sub-header" "img desc";

    h2 {
      margin-bottom: 0;
      align-self: end;
    }
    & > img {
      object-fit: cover;
    }
  }
}
.bubble-effect {
   position: relative;
   overflow: hidden;
   cursor: pointer;

   &::after {
    content: '';
    position: absolute;
    width: 150%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%) scale(0);
    left: var(--x-offset);
    top: var(--y-offset);
    opacity: 1;
   }
}
.new-button::after {
  animation: button-pulse 400ms ease-out 1;
}
@keyframes button-pulse {
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}